.customer-ticket {
    font-weight: normal;
    font-style: italic;
}
.customer-view-cont {
    padding: 24px 36px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.customer-num-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-num {
    font-weight: normal;
    margin-left: 16px;
}
.customer-btn {
    margin: 12px 0;
    padding: 12px 48px;
}