.counter-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 12px;
}
.counter-indicator {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.counter-num {
    margin: 0 12px;
}
.customer-btn-cont {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.customer-btn-cont button {
    padding: 4px 8px;
    margin: 0 6px;
}

@media (max-width:801px) {
    .counter-cont {
        margin: 24px 0;
    }
}